[submodule "dogia-blockchain-gui"]
	path = dogia-blockchain-gui
	url = https://github.com/Dogia-Network/dogia-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Dogia-Network/mozilla-ca.git
        branch = main
